


body {
    background-image: url("../images/papyrus.png");
}



.search-type{
    display: flex;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;    
    }

#iconDiv {
    opacity: 0.0;
    } 

.restaurant, .weather {
  /*  border:2px solid rgb(44, 41, 41); */
    line-height: 0.9em;
    padding:0 8px 0 8px;
    margin:0;
}
.restaurant p {
    font-size:0.8em;
    margin:0.5em;
    color:#274e27;
}
#restaurantColumn {
    visibility:hidden;
}
.weather p {
    font-size:0.8em;
    margin:0.5em;
    color:#274e27;
}
#weatherColumn {
    visibility:hidden;
}

    a:hover { 
        color: #B85C80;
      }

      li:hover {
          color: grey;
      }

      .navbar {
          line-height: 5;
      }

      #logo-img {
          max-width: 200px;
          margin: 20px;
      }
      .nav-link {
          color: #5CB85C;
      }
