
.search-type{
    display: flex;
        padding-top: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 80px;    
    }

#iconDiv {
    opacity: 0.0;
    } 

.restaurant {
  /*  border:2px solid rgb(44, 41, 41); */
    line-height: 0.9em;
    padding:0 8px 0 8px;
    margin:0;
}
.restaurant p {
    font-size:0.8em;
    margin:0.5em;
    color:#274e27;
}